// Place all the styles related to the Agents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$circle-border: #3F3D40;
$circle-fill: #7F7B7F;
$line-color: #BEB8BF;

text.label {
	display: none;
	font-family: sans-serif;
}

circle {
	stroke: $circle-border;
	stroke-width: 3;
	fill: $circle-fill;
}

line {
	stroke-width: 5;
	stroke: $line-color;
}

.vis {
	height: 600px;
	width: 2000px;
	overflow: scroll;
}

button {
	margin: 0 10px;
	border: 3px groove whitesmoke;
	border-radius: 4px;
	padding: 5px;
}

.button-shadow {
	box-shadow: 1px 1px 5px gray;
}